# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# golang
*.exe
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/obj/
/coverage.out

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
