---
// src/pages/index.astro
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/header.astro'
import Footer from '@components/footer.astro'
---

<BaseLayout title="Family Photos - Álbum Familiar Digital">
  <Header />
  <h1 class="text-2xl text-center pt-3 font-bold">Bienvenido al Álbum de Fotos</h1>
  <Footer />
</BaseLayout>


